.venv/

.env
.env.*
!.env_sample

__pycache__/
*.py[cod]
*.class

chroma_db/
vectorstore/
logs/
stats/

current_packages.txt
.env

rag_base_data/fixtures/*.json
rag_base_data/html/*.html
!rag_base_data/html/sample.html

